# Backend dependencies
backend/node_modules/
backend/dist/
backend/.env
backend/.env.local

# Frontend
frontend/node_modules/
frontend/dist/

# Docker
docker/node_modules/
docker/dist/

# Misc
*.log
.DS_Store
coverage/
*.tsbuildinfo
prisma/migrations/
node-compile-cache/
jiti/
